:root {
  --primary-color: #3f453c;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
  font-family: "Muli", sans-serif;
  font-style: normal;
  color: #2a2f36;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
  padding-bottom: 10px;
}

h2 {
  font-size: 48px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

img {
  width: 100%;
}

footer {
  padding: 30px 0px;
}

.opening-header {
  font-size: 60px;
  font-weight: 700;
  font-family: "Muli", sans-serif;
  line-height: 72px;
}
.opening-header-tagline {
  font-size: 22px;
  font-family: "Muli", sans-serif;
  line-height: 35px;
  font-weight: 400;
  margin-top: 15px;
}
.hero-padding-wrap {
  padding-left: 20px;
}

.header {
  padding-top: 20px;
}

.navbar-brand {
  font-size: 35px;
  font-weight: 700;
  color: #2a2f36;
}

.nav-item {
  font-size: 18px;
  padding-top: 5px;
}

.hero {
  background: linear-gradient(279deg, rgb(0, 0, 0) 0%, rgb(65, 70, 63) 100%);
}

.hero-overlay {
  max-height: 550px;
  background-image: url(/images/womencoding.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  margin-top: 25px;
  padding: 120px 0 350px;
  background-color: #3f453c;
}

.hero-wrap {
  color: white;
}

.content-container {
  padding-top: 100px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  text-decoration: none;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.primary-link:hover {
  background: #676767;
  color: white;
  text-decoration: none;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.social-media-home {
  padding-top: 20px;
}

.social-media-homebutton {
  color: black;
  font-size: 28px;
  background-color: white;
  padding: 6px 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 7px;
}

.social-media-homebutton:hover {
  color: black;
  background-color: #676767;
  text-decoration: none;
}

.social-media-inside {
  color: white;
  font-size: 28px;
  background-color: #3f453c;
  padding: 6px 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 7px;
}
.social-media-inside:hover {
  color: white;
  background-color: #676767;
  text-decoration: none;
}

@media (max-width: 960px) {
  h1 {
    font-size: 58px;
  }
  .hero-overlay {
    max-height: 500px;
    background-image: url(/images/womencoding-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 25px;
    padding: 100px 0px 100px 0px;
    background-color: #3f453c;
  }
  .hero-padding-wrap {
    padding-left: 0px;
  }
  .opening-header {
    font-size: 25px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.2;
  }
  .opening-header-tagline {
    font-size: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
  }
  .navbar-brand {
    font-size: 25px;
    font-weight: 700;
    color: #2a2f36;
  }
  .content-container {
    padding-top: 50px;
  }
}
